@import "../../css-config/mixins.scss";

.navbar {
  height: 45px;
  text-decoration: none;
  color: #551a8b;
  @include md {
    height: 60px;
  }

  .wrapper {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include md {
      padding: 10px 30px;
    }

    .item {
      display: flex;
      align-items: center;
      font-size: 16px;
    }
    .left {
      display: none;
      align-items: center;
      gap: 25px;
      @include md {
        display: flex;
      }
    }
    .center {
      font-size: 23px;
      letter-spacing: 2px;
      @include md {
        font-size: 28px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .item {
        display: none;
        @include md {
          display: flex;
        }
      }

      .icons {
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;
        align-items: center;
        font-size: 21px;
        @include md {
          font-size: 25px;
        }

        .cartIcon {
          position: relative;

          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2879fe;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .navList {
          position: relative;
          display: flex;
          @include md {
            display: none;
          }
        }
      }
    }
  }
}
